
form {
    width: 200px;
    margin: 0 ; 
    margin: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 3px 4px  rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
	margin-left: 40%;
	margin-top: 10%;

}





button {
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;

    border-radius: 4px;
    background-color: #df9ba8;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
	box-shadow: black;
    

}

button:hover {
    background-color: black;
}