body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(223, 68, 93);
    color: white;
    box-shadow: 0 4px 8px rgba(112, 59, 59, 0.947);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(241, 231, 231);
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(189, 163, 163);
}

 .btn {
    color: grey;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    text-decoration: none;


}

.btn:hover {
    background-color: rgb(189, 163, 163);
}
